li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

h1,h2 {
  text-align: center;
}

button {
  margin: auto;
  width: 100%;
}

.add-burger-form {
  margin: auto;
  width: 18%;
}

.form-group {
  text-align: center;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.burger-section {
  float:left;
  width: 33%
}
